body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-style: italic;
  line-height: 1.6;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 150px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main-content img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: gold 1px 2px 5px; 
}

.widget {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

Button {
font-style: italic;
background-color: lightgreen;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
border-radius: 5px;
}

